@import "fonts.css";

body
{
    font-family: 'PTSansPro-CondLight', 'Open Sans', Helvetica, sans-serif;
}

body > header
{
    background-color: #fefcfa;
}

body > header > .header
{
    margin: 0 auto;
}

body > header nav, body > header .ask-question, body > header address.phone
{
    display: inline-block;
    color: #514c4a;
}

body > header time
{
    font-size: smaller;
    display: inline-block;
    color: #b3a488;
    text-transform: uppercase;
}

body > header address.phone
{
    font-weight: 700;
    color: #746956;
}

body > header nav > ul > li
{
    display: inline-block;
}

body > header nav > ul > li > a
{
    color: inherit;
}

body > header nav > ul > li > a, body > header .ask-question
{
    text-decoration: none;
}

body > header .header-right
{
    float: right;
}

body > header .header-right nav.aside .avatar, body > header nav.aside .hamburger
{
    vertical-align: middle;
    padding-bottom: 3px;
}

body > .contacts, body > .feedback
{
    background-color: #fefefe;
    font-family: 'NeoSansW1G-Light', "Open Sans", Helvetica, sans-serif;
}

body > .contacts
{
    text-align: center;
}

body > .contacts > article
{
    display: inline-block;
}

body > .contacts > article address
{
    font-family: 'PTSansPro-CondLight', 'Open Sans', Helvetica, sans-serif;
    color: #3b3a3a;
}

body > .contacts > article h2
{
    color: #b3a488;
}

body > .contacts > article time
{
    display: block;
    font-family: 'PTSansPro-CondLight', 'Open Sans', Helvetica, sans-serif;
    color: #b3a488;
    text-transform: uppercase;
}

body > .social
{
    background-color: #f2eadc;
    text-align: center;
    overflow: hidden;
}

body > .social h2
{
    font-family: 'NeoSansW1G-Light', "Open Sans", Helvetica, sans-serif;
    color: #3b3a3a;
}

body > .social article, body > .social article a
{
    display: inline-block;
    text-decoration: none;
    color: #746956;
}

body > .social article a > label
{
    display: block;
}

body > .feedback h2
{
    text-align: center;
}

body > .feedback form
{
    margin: 0 auto;
}

body > .feedback form fieldset
{
    float: left;
}

body > footer
{
    background-color: #bdb098;
    color: #444240;
}

body > footer > .footer
{
    margin: 0 auto;
}

body > footer small, body > footer .bottom-menu nav li a
{
    text-transform: uppercase;
}

body > footer .copyright, body > footer .bottom-menu
{
    float: left;
}

body > footer .social
{
    float: right;
}

body > footer .bottom-menu nav li
{
    float: left;
}

body > footer .bottom-menu nav li a
{
    color: inherit;
    text-decoration: none;
}

body > footer .social h3
{
    font-family: 'NeoSansW1G-Light', "Open Sans", Helvetica, sans-serif;
    text-align: center;
}

.orange
{
    color: #e9bb61;
}

.bulb
{
    display: inline-block;
    background-size: cover;
    background-image: url('img/bulb.png');
    background-repeat: no-repeat;
    width: 17px;
    height: 34px;
}

input, textarea, button
{
    display: block;
    width: 100%;
    border-radius: 5px;
    font-family: 'PTSansPro-CondLight', 'Open Sans', Helvetica, sans-serif;
    text-transform: uppercase;
}

input, textarea
{
    border: 1px solid #e1d1b4;
    background-color: #ffffff;
    box-sizing: border-box;
}

textarea
{
    resize: none;
    font-size: 18px;
    height: 100%;
    padding: 7px 17px;
}

button
{
    background-color: #fefefe;
    border: 2px solid #e9c162;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #8e8e8e;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #8e8e8e;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #8e8e8e;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #8e8e8e;
}

@media all and (min-width: 993px)
{
    body > header
    {
        height: 61px;
        font-size: 18px;
    }

    body > header > .header, body > .game-menu > nav > ul, body > footer > .footer
    {
        max-width: 960px;
    }

    body > header .logo, body > footer .logo
    {
        height: 37px;
        float: left;
    }

    body > header .logo
    {
        margin-left: 4px;
        margin-top: 8px;
    }

    body > header nav.main
    {
        margin-left: 80px;
        margin-top: 23px;
    }

    body > header .header-right
    {
        margin-top: 22px;
    }

    body > header nav.main a
    {
        line-height: 22px;
    }

    body > header nav.main > ul > li + li
    {
        margin-left: 37px;
    }

    body > header a:hover
    {
        display: inline-block;
        border: solid #c3b497;
        padding-bottom: 4px;
        border-width: 0 0 2px 0;
    }

    body > header .ask-question::before
    {
        display: inline-block;
        content: ' ';
        width: 18px;
        height: 18px;
        background: url("img/ask-question.png") no-repeat;
        margin-right: 7px;
    }

    body > header nav.aside .avatar
    {
        margin-right: 7px;
        max-width: 18px;
        max-height: 18px;
    }

    body > header nav.aside
    {
        margin-left: 40px;
    }

    body > header nav.aside a
    {
        line-height: 18px;
        display: inline-block;
    }

    body > header address.phone
    {
        margin-left: 8px;
    }

    body > header time
    {
        font-size: 12px;
        margin-left: 37px;
    }

    body > .game-menu, body > .game-menu ul
    {
        background-color: #f2eadc;
        height: 47px;
    }

    body > .game-menu
    {
        background-color: #f2eadc;
        display: block;
        width: 100%;
    }

    body > .game-menu ul
    {
        display: block;
        margin: 0 auto;
        max-width: 960px;
        padding-left: 12px;
    }

    body > .game-menu ul > li
    {
        display: inline-block;
        width: 156px;
        height: 47px;
        border-left: 1px solid #e1d1b4;
        line-height: 47px;
    }

    body > .game-menu ul > li:last-child
    {
        border-right: 1px solid #e1d1b4;
    }

    body > .game-menu ul > li a
    {
        color: #756c5b;
        display: block;
        font-size: 17px;
        height: 47px;
        padding-left: 2px;
        padding-top: 2px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }

    body > .contacts
    {
        min-height: 291px;
    }

    body > .contacts > article
    {
        margin-top: 96px;
        min-width: 304px;
        vertical-align: top;
    }

    body > .contacts > article + article
    {
        left: -20px;
        margin-left: 19px;
        margin-top: 102px;
        position: relative;
    }

    body > .contacts > article .phone-icon
    {
        display: block;
        margin-bottom: 19px;
    }

    body > .contacts > article .phone-icon img
    {
        height: 35px;
        width: 35px;
    }

    body > .contacts > article .envelope-icon
    {
        display: block;
        margin-bottom: 24px;
    }

    body > .contacts > article .envelope-icon img
    {
        height: 24px;
        width: 34px;
    }

    body > .contacts > article h2
    {
        font-size: 24px;
        margin-bottom: 14px;
    }

    body > .contacts > article address
    {
        font-size: 23px;
    }

    body > .contacts > article address + address
    {
        margin-top: 6px;
    }

    body > .contacts > article time
    {
        font-size: 17px;
        margin-top: 5px;
    }

    body > .social
    {
        min-height: 289px;
    }

    body > .social h2
    {
        font-size: 24px;
        margin: 80px auto 38px;
    }

    body > .social article .social-icon
    {
        max-width: 27px;
        max-height: 27px;
    }

    body > .social article + article
    {
        margin-left: 100px;
    }

    body > .social article label
    {
        margin-top: 18px;
        font-size: 23px;
    }

    body > .feedback
    {
        min-height: 325px;
    }

    body > .feedback h2
    {
        font-size: 24px;
        line-height: 29px;
        margin-top: 102px;
    }

    body > .feedback form
    {
        max-width: 664px;
    }

    body > .feedback form fieldset
    {
        height: 145px;
        margin: 29px 0 0 19px;
        width: 306px;
    }

    body > .feedback form textarea
    {
        height: 100%;
    }

    body > .feedback form textarea
    {
        font-size: 18px;
        padding: 7px 16px;
    }

    body > .feedback form input
    {
        height: 37px;
        font-size: 18px;
        padding: 3px 9px 0;
        margin-bottom: 10px;
    }

    body > .feedback form button
    {
        font-size: 20px;
        height: 44px;
        margin-top: 17px;
        padding-top: 5px;
    }

    body > footer
    {
        min-height: 126px;
    }

    body > footer .social
    {
        min-width: 160px;
        margin-right: 8px;
    }

    body > footer .logo
    {
        margin: 29px 0 15px 4px
    }

    body > footer small
    {
        clear: both;
        display: block;
        font-size: 12px;
        margin-left: 4px;
    }

    body > footer .bottom-menu
    {
        margin-left: 25px;
    }

    body > footer .bottom-menu nav
    {
        margin-left: 5px;
        margin-top: 45px;
    }


    body > footer .bottom-menu nav ul li
    {
        font-size: 16px;
    }

    body > footer .bottom-menu nav ul li + li
    {
        margin-left: 18px;
    }

    body > footer .social h3
    {
        font-size: 16px;
        margin-top: 21px;
    }

    body > footer .social nav
    {
        display: block;
        margin-top: 16px;
        text-align: center;
    }

    body > footer .social nav ul li
    {
        display: inline-block;
    }

    body > footer .social nav ul li + li
    {
        margin-left: 19px;
    }


    .hidden-lg
    {
        display: none;
    }
}

@media all and (max-width: 992px) and (min-width: 769px)
{
    body > header
    {
        height: 77px;
        font-size: 20px;
    }

    body > header > .header, body > footer > .footer
    {
        max-width: 900px;
    }

    body > header .logo
    {
        height: 52px;
        margin-top: 10px;
    }

    body > header .ask-question, body > header nav.main
    {
        display: none;
    }

    body > header .header-right
    {
        margin-top: 28px;
    }

    body > header address.phone
    {
        margin-left: 17px;
        font-size: 29px;
    }

    body > header .header-right nav
    {
        margin-left: 107px;
        font-size: 29px;
    }


    body > header .header-right nav.aside ul li + li
    {
        margin-left: 38px;
    }

    body > header .header-right nav.aside .avatar
    {
        margin-right: 4px;
        margin-top: -5px;
    }

    body > header .header-right nav.aside .hamburger
    {
        width: 38px;
        height: 23px;
    }

    body > .game-menu
    {
        display: none;
    }

    body > .contacts
    {
        min-height: 352px;
    }

    body > .contacts > article
    {
        margin-top: 80px;
        vertical-align: top;
    }

    body > .contacts > article + article {
        margin-left: 212px;
    }

    body > .contacts > article .phone-icon
    {
        display: block;
        margin-bottom: 23px;
    }

    body > .contacts > article .phone-icon img
    {
        height: 45px;
        width: 45px;
    }

    body > .contacts > article .envelope-icon
    {
        display: block;
        margin-bottom: 31px;
        margin-top: 5px;
    }

    body > .contacts > article .envelope-icon img
    {
        height: 32px;
        width: 41px;
    }

    body > .contacts > article h2
    {
        font-size: 29px;
        margin-bottom: 16px;
    }

    body > .contacts > article address
    {
        font-size: 29px;
    }

    body > .contacts > article address + address
    {
        margin-top: 7px;
    }

    body > .contacts > article time
    {
        font-size: 25px;
        margin-top: 15px;
    }

    body > .social
    {
        min-height: 358px;
    }

    body > .social h2
    {
        font-size: 36px;
        margin: 80px auto 54px;
    }

    body > .social article .social-icon
    {
        max-width: 38px;
        max-height: 38px;
    }

    body > .social article + article
    {
        margin-left: 143px;
    }

    body > .social article label
    {
        margin-top: 3px;
        font-size: 30px;
    }

    body > .feedback
    {
        min-height: 465px;
    }

    body > .feedback h2
    {
        font-size: 35px;
        line-height: 42px;
        margin-top: 144px;
    }

    body > .feedback form
    {
        max-width: 916px;
        padding: 0 6px;
    }

    body > .feedback form fieldset
    {
        height: 209px;
        margin-top: 41px;
        max-width: 438px;
        width: calc(50% - 30px);
    }

    body > .feedback form fieldset + fieldset
    {
        margin-left: 30px;
    }

    body > .feedback form textarea
    {
        height: 100%;
    }

    body > .feedback form textarea
    {
        font-size: 28px;
        padding: 7px 22px;
    }

    body > .feedback form input
    {
        font-size: 28px;
        height: 53px;
        margin-bottom: 14px;
        padding: 3px 15px 0;
    }

    body > .feedback form button
    {
        font-size: 30px;
        height: 66px;
        margin-top: 22px;
        padding-top: 5px;
        border-radius: 14px;
    }

    body > footer
    {
        min-height: 79px;
    }

    body > footer .social
    {
        min-width: 160px;
        margin-right: 7px;
    }

    body > footer .logo
    {
        display: none;
    }

    body > footer small
    {
        display: block;
        font-size: 26px;
        margin-left: -1px;
        margin-top: 37px;
    }

    body > footer .bottom-menu
    {
        display: none;
    }

    body > footer .social h3
    {
        display: none;
    }

    body > footer .social nav
    {
        display: block;
        margin-top: 19px;
        text-align: center;
        margin-right: -20px;
    }

    body > footer .social nav ul li
    {
        display: inline-block;
    }

    body > footer .social nav img
    {
        width: 35px;
    }

    body > footer .social nav ul li + li
    {
        margin-left: 24px;
    }

    .hidden-md
    {
        display: none;
    }

}

@media all and (max-width: 768px) and (min-width: 551px)
{
    body > header
    {
        height: 87px;
        font-size: 25px;
    }

    body > header > .header
    {
        max-width: 712px;
    }

    body > header .logo
    {
        margin-top: 9px;
    }

    body > header .header-right
    {
        margin-top: 26px;
        margin-right: -4px;
    }

    body > header .ask-question, body > header nav.main
    {
        display: none;
    }

    body > header .bulb
    {
        vertical-align: middle;
        margin-bottom: 3px;
    }

    body > header .account-bulbs
    {
        font-size: 39px;
    }

    body > header time
    {
        font-size: 28px;
    }

    body > header address
    {
        margin-left: 10px;
        font-size: 34px;
    }

    body > header .header-right nav
    {
        margin-left: 30px;
    }

    body > header .header-right nav.aside ul li + li
    {
        margin-left: 42px;
        margin-right: 5px;
    }

    body > header .header-right nav.aside .avatar
    {
        height: 57px;
        margin-right: 11px;
        margin-top: -17px;
        padding-bottom: 0;
    }

    body > .game-menu
    {
        display: none;
    }

    body > .contacts
    {
        min-height: 430px;
    }

    body > .contacts > article
    {
        margin-top: 100px;
        vertical-align: top;
    }

    body > .contacts > article + article
    {
        left: 37px;
        margin-left: 69px;
        position: relative;
        top: 3px;
    }

    body > .contacts > article .phone-icon
    {
        display: block;
        margin-bottom: 33px;
    }

    body > .contacts > article .envelope-icon
    {
        display: block;
        margin-bottom: 47px;
        margin-top: 5px;
    }

    body > .contacts > article h2
    {
        font-size: 44px;
        margin-bottom: 22px;
    }

    body > .contacts > article address
    {
        font-size: 44px;
    }

    body > .contacts > article address + address
    {
        margin-top: 10px;
    }

    body > .contacts > article time
    {
        font-size: 35px;
        margin-top: 20px;
    }

    body > .social
    {
        min-height: 431px;
    }

    body > .social h2
    {
        font-size: 44px;
        margin: 90px auto 80px;
    }

    body > .social article .social-icon
    {
        max-width: 46px;
        max-height: 46px;
    }

    body > .social article:first-child
    {
        margin-left: 40px;
    }

    body > .social article + article
    {
        margin-left: 59px;
    }


    body > .social article label
    {
        margin-top: 17px;
        font-size: 44px;
    }

    body > .feedback
    {
        min-height: 917px;
    }

    body > .feedback h2
    {
        font-size: 46px;
        line-height: 55px;
        margin-top: 54px;
    }

    body > .feedback form
    {
        padding: 0 23px;
    }

    body > .feedback form fieldset
    {
        height: 235px;
        margin-top: 46px;
        width: 100%;
    }

    body > .feedback form fieldset + fieldset
    {
        margin-top: 32px;
    }

    body > .feedback form textarea
    {
        height: 100%;
    }

    body > .feedback form textarea
    {
        font-size: 42px;
        padding: 12px 23px;
    }

    body > .feedback form input
    {
        font-size: 42px;
        height: 74px;
        margin-bottom: 24px;
        padding: 4px 16px 0;
    }

    body > .feedback form button
    {
        border-radius: 10px;
        border-width: 4px;
        display: block;
        font-size: 38px;
        height: 86px;
        margin: 52px auto 0;
        padding-top: 7px;
        max-width: 365px;
    }

    input, textarea
    {
        border-width: 2px;
    }

    body > footer
    {
        min-height: 72px;
    }

    body > footer .social
    {
        min-width: 160px;
        margin-right: 18px;
    }

    body > footer .logo
    {
        display: none;
    }

    body > footer small
    {
        display: block;
        font-size: 33px;
        margin-left: 25px;
        margin-top: 25px;
    }

    body > footer .bottom-menu
    {
        display: none;
    }

    body > footer .social h3
    {
        display: none;
    }

    body > footer .social nav
    {
        display: block;
        margin-top: 19px;
        text-align: center;
    }

    body > footer .social nav ul li
    {
        display: inline-block;
    }

    body > footer .social nav img
    {
        width: 33px;
    }

    body > footer .social nav ul li + li
    {
        margin-left: 22px;
    }

    .hidden-sm
    {
        display: none;
    }
}

@media all and (max-width: 550px)
{
    body > header
    {
        height: 40px;
        font-size: 15px;
    }

    body > header > .header
    {
        max-width: 299px;
    }

    body > header .logo
    {
        height: 26px;
        margin-left: 1px;
        margin-top: 4px;
    }

    body > header .header-right
    {
        margin-top: 9px;
    }

    body > header .ask-question, body > header nav.main
    {
        display: none;
    }

    body > header .account-bulbs
    {
        margin-left: 3px;
    }

    body > header .bulb
    {
        vertical-align: middle;
        margin-bottom: 3px;
        width: 8px;
        height: 17px;
    }

    body > header nav.aside .avatar
    {
        max-width: 24px;
        max-height: 24px;
    }

    body > header .header-right nav.aside .hamburger
    {
        width: 18px;
        height: 13px;
    }

    body > header address
    {
        margin-left: 8px;
        font-size: 14px;
    }

    body > header .header-right nav
    {
        margin-left: 6px;
    }

    body > header .header-right nav.aside ul li + li
    {
        margin-left: 17px;
    }

    body > .game-menu
    {
        display: none;
    }

    body > .contacts
    {
        min-height: 206px;
    }

    body > .contacts > article
    {
        margin-top: 41px;
        min-width: 150px;
        vertical-align: top;
    }

    body > .contacts > article .phone-icon
    {
        display: block;
        margin-bottom: 13px;
    }

    body > .contacts > article .phone-icon img
    {
        height: 30px;
        width: 30px;
    }

    body > .contacts > article .envelope-icon
    {
        display: block;
        margin-bottom: 18px;
        margin-top: 5px;
    }

    body > .contacts > article .envelope-icon img
    {
        height: 20px;
        width: 27px;
    }

    body > .contacts > article h2
    {
        font-size: 19px;
        margin-bottom: 10px;
    }

    body > .contacts > article address
    {
        font-size: 20px;
    }

    body > .contacts > article address + address
    {
        margin-top: 5px;
    }

    body > .contacts > article time
    {
        font-size: 15px;
        margin-top: 10px;
    }

    body > .social
    {
        min-height: 202px;
    }

    body > .social h2
    {
        font-size: 20.5px;
        margin: 43px auto 36px;
    }

    body > .social article .social-icon
    {
        max-width: 22px;
        max-height: 22px;
    }

    body > .social article + article
    {
        margin-left: 20px;
    }

    body > .social article label
    {
        margin-top: 7px;
        font-size: 20px;
    }

    body > .feedback
    {
        min-height: 392px;
    }

    body > .feedback h2
    {
        font-size: 20px;
        line-height: 25px;
        margin-top: 38px;
    }

    body > .feedback form
    {
        padding: 0 11px;
    }

    body > .feedback form fieldset
    {
        height: 98px;
        margin-top: 15px;
        width: 100%;
    }

    body > .feedback form fieldset + fieldset
    {
        margin-top: 13px;
    }

    body > .feedback form textarea
    {
        height: 100%;
    }

    body > .feedback form textarea
    {
        font-size: 18px;
        padding: 5px 9px;
    }

    body > .feedback form input
    {
        font-size: 18px;
        height: 31px;
        margin-bottom: 10px;
        padding: 4px 7px 0;
    }

    body > .feedback form button
    {
        display: block;
        font-size: 18px;
        height: 36px;
        margin: 22px auto 0;
        max-width: 152px;
        padding-top: 4px;
    }

    body > footer
    {
        min-height: 30px;
    }

    body > footer .social
    {
        margin-right: 9px;
    }

    body > footer .logo
    {
        display: none;
    }

    body > footer small
    {
        display: block;
        font-size: 14px;
        margin-left: 10px;
        margin-top: 10px;
    }

    body > footer .bottom-menu
    {
        display: none;
    }

    body > footer .social h3
    {
        display: none;
    }

    body > footer .social nav
    {
        display: block;
        margin-top: 7px;
        text-align: center;
    }

    body > footer .social nav ul li
    {
        display: inline-block;
    }

    body > footer .social nav img
    {
        width: 14px;
    }

    body > footer .social nav ul li + li
    {
        margin-left: 7px;
    }

    .hidden-xs
    {
        display: none;
    }
}